@import '~normalize.css/normalize.css';

$white: #f2f2f2;
$gray: #aaa;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: $white;
  font-size:62.5%;
  font-weight: 300;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  padding: 0 20px;
  flex: 0 1 auto;
  max-width: 745px;
}

li {
  font-size: 0.8rem;
}

p {
  font-size: 1.0rem;
  margin-top: 1.5rem;
  line-height: 1.4rem;
}

hr {
  border: none;
  border-top: 1px dotted $gray;
}

h1,
h2,
h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

h2,
h3 {
  margin-top: 2rem;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 0;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

ul {
  padding-left: 12px;

  li {
    list-style: none;
    line-height: 1.0rem;
    padding: 0.4rem 0;

    &:before {
      content: '>';
      margin-left: -12px;
      padding-right: 5px;
      color: $gray;
      font-size: 0.7rem;
    }
  }
}

h1 + p {
  margin-top: 0.5rem;
}

.links-print {
  display: none;
}

@media print, screen and (min-width: 745px) {
  #technologies + hr + ul,
  #personal + hr + ul {
    column-count: 3;
  }

  ul {
    padding-left: 0;

    > li {
      padding: 0 0 0.6rem 12px;
      line-height: 1.2rem;

      &:before {
        // margin-left: 0;
      }
    }
  }
}

a {
  font-size: 0.8rem;
}

@media print {
  .links-screen {
    display: none;
  }

  .links-print {
    display: block;
  }

  html {
    font-size: 0.58rem;
  }
  body {
    background-color: transparent;
  }

  #container {
    padding: 0;
  }
}
